.App {
  text-align: center;
  background-color: #E5E5E5;
}

.Container {
  clear: both;
}

.Container-left {
  background-color: #EEEEEE;
  width: 30%;
  height: 95vh;
  float: left;
}

.Container-right {
  width: 70%;
  float: right;
}

.Top-bar-right {
  display: flex;
  justify-content: flex-start;
  height: 50px;
  border-top: 1px solid #ECEFF1;
  border-bottom: 1px solid #ECEFF1;
}

.Fab {
  position:fixed;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  margin-bottom: 20px;
}